/* body{
    margin: auto;
    background-color:
    #E1F9F4;
} */
.register-form{
    text-align: center;
    width:30vw;
    margin-top: 30px;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    padding-bottom: 0px;
    background-color: #ffff;
    border-radius: 20px;
    box-sizing: border-box;
}
.register-header{
    padding:20px;
    padding-bottom: 0px;
}
.text{
color:
#000000;
opacity: 60%;
font-weight: 400;
}
.register-data{
    display:flex;
    flex-flow:column wrap;
    width:auto;
    /* height: auto; */
    background-color: #ffff;
    /* padding: 20px; */
justify-content: space-evenly;

}

.register-data input{
    padding: 10px;
    margin: 20px;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    opacity: 60%;
}
.register-data button{
    padding: 10px;
    margin: 20px;
    margin-bottom: 10px;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
background-color: #4C57B6;
font-weight:600;
color: #ffff;
font-size: 15px;
} 