.search-body{
    width: 100%;
    height: 90%;
    margin-top:10px;
   
}
/* #search-child{
    height: 740px;
} */
.searchBox{
    height: 80px;
}

.searchbar{
    height: 50px;
    width: 60%;
    padding-left: 20px;
    border-radius: 40px;
    border: 1px solid rgb(215, 213, 213);
    margin-left: 20px;
    margin-top: 10px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.13);
}

.form{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
    justify-items: normal;
    justify-content:none ;
    /* font-family: Source Sans Pro; */
    font-size: 0px;
    font-weight: 00;
    line-height: 0px;
    letter-spacing: 0em;
    text-align:none;
}
.newprop{
    float: right;
    height: 60px;
    width: 40%;
    padding-left: 20px;
    border-radius: 40px;
    border: 1px solid rgb(215, 213, 213);
    margin-right: 20px;
    margin-top: 10px;
    background: #6AB4F8;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.13);
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}

.table-container{
    width: 95%;
    /* height: 78%; */
    margin: auto;
    height:52vh;
    margin-top: 20px;
    overflow: auto;
    margin-bottom: 30px;
    border-radius: 2px;
    box-sizing: border-box;
    
}

::-webkit-scrollbar {
    width: 15px;
    border-radius: 15px;
  }
  ::-webkit-scrollbar-thumb {
    background: #E1F9F4; 
  }
